[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-login = "*"
requests = "*"
flask-cors = "*"

