-i https://pypi.org/simple/
aniso8601==9.0.1
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
flask-cors==3.0.8
flask-login==0.4.1
flask-restful==0.3.7
flask-sqlalchemy==2.4.1
flask==1.1.1
gitdb2==4.0.2
gitdb==4.0.5
gitpython==3.0.5
greenlet==1.0.0 ; python_version >= '3'
idna==2.8
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
pytz==2021.1
requests==2.22.0
six==1.15.0
smmap==3.0.5
sqlalchemy==1.4.2
urllib3==1.25.11
werkzeug==1.0.1
